body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.step input,.ingredient input,.ingredient select {
  margin-right: 8px;
}

.ingredient .amount {
  width: 2em;
}
.ingredient .measure {
  width: 2em;
}
.ingredient .ingredient {
  width: 12em;
}
