body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.ingredients div.controls {
  margin-left: 10px;
}

div.ingredients div.controls div {
  margin-left: 5px;
}

.ingredient .amount {
  width: 2em;
}
.ingredient .measure {
  width: 2em;
}
.ingredient .ingredient {
  width: 12em;
}

#ingredient-error {
  font-size: 11px;
  font-weight: bold;
}



#cookbook-navbar{
    margin-left: 30px;
}

.thumbnail {
  max-width: 50px;
  max-height: 50px;
  width: expression(this.width > 50 ? "50px" : true);
  height: expression(this.height > 50 ? "50px" : true);
  display: inline;
  margin-right: 10px;
}
.recipe-image {
  max-width: 400px;
  max-height: 200px;
  width: expression(this.width > 400 ? "400px" : true);
  height: expression(this.height > 200 ? "200px" : true);
}
